.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #222222;
    padding: 15px;
    text-align: center;
}
.white {
    color: white;
}
.news {
    min-height: 200px;
}

.content {

}